<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.1.xsd 
		http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd 
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-3.1.xsd 
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-3.1.xsd 
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx-3.1.xsd ">

<!-- 
	service类较少，可以直接手写，不需要看代码就能知道service类，更直观，action类较多建议使用扫描方式扫描
	<context:component-scan base-package="cn.study.jk.dao,cn.study.jk.service"/>
-->
<!-- 用户管理 -->
<bean id="userService" class="yycg.base.service.impl.UserServiceImpl"/>

<!-- 系统配置 -->
<bean id="systemConfigService" class="yycg.base.service.impl.SystemConfigServiceImpl"></bean>


</beans>